{{!< default}}

        <div class="container clearfix">
          <main role="main" class="content">
              <div class="tag-title">
                <p>All articles tagged as:</p>
                <h1>{{tag.name}}</h1>
              </div>

              {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <footer class="post-info">Posted on <span class="post-meta"><time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time> {{tags separator=", " prefix="Tagged in "}}</span></footer>
                
                <p>{{excerpt characters="600"}}&hellip;</p>
                
                <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
              </article>
              {{/foreach}}

              {{pagination}}
             
          </main>
          <aside class="author">
            <a class="btn" href="{{@blog.url}}" title="Back to homepage">&laquo; Back to home</a>
            <img class="profile-image"
            src="https://s.gravatar.com/avatar/027b1af460d47b78e38e552d668fb06b?s=118" alt="" />
            <p class="name">by <strong>Jingjie Zheng</strong></p>
            <p class="address">Waterloo, Canada</p>
            <p class="link"><a href="http://jingjiezheng.com" title="Jingjie
            Zheng - Computer Science Student">jingjiezheng.com</a></p>

            <ul class="social">
              <li><a class="icon-twitter" href="#" title="Follow me on Twitter"></a></li>
              <li><a class="icon-dribbble" href="#" title="See what I'm working on Dribbble"></a></li>
              <li><a class="icon-behance" href="#" title="Check out my work on Behance"></a></li>
            </ul>

          </aside>
        </div>
